{% extends "pwa-base.html" %}
{% load i18n %}

{% block content%}
    <div class="alert alert-info text-center p-2"><strong>CLIENTE</strong></div>
    <div class="row">
        <div class="col-4">{% trans "Nombre" %}:</div><div class="col-8">{{obj.client.name}}</div>
        <div class="col-4">{% trans "Teléfono" %}:</div><div class="col-8">{{obj.client.phone}}</div>
        <div class="col-4">{% trans "Dirección" %}:</div><div class="col-8">{{obj.client.address}}</div>
    </div>
    <div class="alert alert-info text-center mt-2 p-2"><strong>SERVICIO</strong></div>
    <form method="post" action="{% url "pwa-employee-service-save" %}" id="frmService" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="service" name="service" value="{{obj.id}}" />
        <textarea class="form-control" id="emp_notes" name="emp_notes" placeholder="{%trans "Notas..."%}">{{obj.emp_notes}}</textarea>
        <br/>
        <select class="form-control" id="status" name="status">
            <option value="">{% trans "--Seleccione un estado--" %}</option>
            {% for item in status_list %} 
                <option value="{{item.id}}" {%if item == obj.status%}selected{%endif%}>{{item.name}}</option> 
            {% endfor %}
        </select>
        <br/>
        {% for img in obj.images.all %} <img src="{{img.image.url}}" alt="image" width="50%"/> {% endfor %}
        <br/> <br/>
        {#<label for ="img" class="btn btn-smi btn-info"> <i class="fas fa-upload"></i> {% trans "Foto" %}</label>#}
        <input type="file" id="img" name="img" accept="image/*;capture=camera" />
        <br/> <br/>
        <input type="submit" class="btn btn-success w-100" value="{% trans "Enviar" %}"/>
    </form>
{% endblock %}
